.lw-main {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  width: 660px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #eee;
}

.lw-countdown {
  text-align: center;
  padding: 16px;
  font-size: 1.4rem;
}

.lw-content {
  display: inline-block;
  width: 100%;
}

.lw-history {
  width: 50%;
  float: left;
  height: 120px;
  overflow-y: auto;
}

.lw-form {
  width: 50%;
  float: right;
  height: 120px;
  text-align: center;
}

.lw-input-group {
  margin: 8px;
}

.lw-input-item {
  width: 50%;
}

.lw-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 4px;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  width: 80%;
}

.lw-history-list {
  overflow-y: auto;
  height: 110px;
  border: 1px solid #eee;
  margin-left: 16px;
}

.lw-history-list-item {
  margin: 8px;
  border-bottom: 1px solid #ddd;
  padding: 4px;
}

.lw-list-number {
  float: right;
}

.lw-history-text {
  margin: 0 8px 0 8px;
}

.lw-input-item {
  display: inline-block;
}

.lw-button {
  padding: 12px 32px 12px 32px;
  background-color: #fefefe;
  outline: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 8px;
  border: 1px solid #ddd;
  font-weight: 500;
  color: #333;
}

.submit:hover {
  background-color: #f2f2f2;
}

.submit:active {
  background-color: #ddd;
}

@media only screen and (max-width: 600px) {
  .lw-main {
    width: 100%;
  }

  .lw-history {
    width: 100%;
  }

  .lw-history-list {
    margin: 16px;
  }

  .lw-form {
    display: none;
    width: 100%;
    margin: 16px;
  }
}
